.sidebar {
    height: 100vh;
    width: 25vw;
    max-width: 25vw;
    position: fixed;
    transition: max-width 0.5s ease-out;
}

.sidebar.dark {
    background-color: var(--light-color);
}

.sidebar.light {
    background-color: var(--dark-color);
}

.sidebar.hidden {
    max-width: 0;
    overflow: hidden;
    transition: max-width 0.5s ease-out;
}


.section {
    height: 12vh;
    font-size: 3.5vw;
    text-align: center;
    line-height: 12vh;
    overflow: hidden;
}

li {
    vertical-align: middle;
    line-height: normal;
    cursor: pointer;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}


.section.dark {
    color: var(--dark-color);
}

.section.light {
    color: var(--light-color);
}


.section.active.dark {
    background-color: var(--selected-color);
    color: var(--light-color);
    border-right: 0.3vw solid var(--light-color);
}

.section.active.light {
    background-color: var(--selected-color);
    color: var(--dark-color);
    border-right: 0.3vw solid var(--dark-color);
}

.section:hover {
    background-color: #ffd657;
    color: var(--dark-color)
}

.section.dark:hover {
    border-right: 0.3vw solid var(--light-color);
}

.section.light:hover {
    border-right: 0.3vw solid var(--dark-color)
}


.logo-wrapper {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.fptp-logo {
    width: 24vh;
}

.fptp-logo.dark {
    filter: invert(100%);
}


#outlet {
    margin-left: 25vw;
    transition: margin-left 0.5s ease-out;
    width: calc(75vw - var(--scrollbar-width));
}

#outlet-expanded {
    margin-left: 0;
    transition: margin-left 0.5s ease-out;
}
